<%= javascript_include_tag "popup" %>

<% unless @records.empty? %>
<div class='record'>
  <% index = 0 %>
  <% @records.each do |record| %>
    <div class='record-each'>
      <div class='shadow'>
        <% if record.image_url %>
          <%= link_to image_tag(record.image_url, :size => '300x300'), record.prod_url, :target => "_blank"%>
        <% else %>
          <%= link_to image_tag("/assets/no-cover.jpg", :size => "300x300"), record.prod_url, :target => "_blank"%>
        <% end %>
      </div>
      <div class='popup'>
        <b>Album: <%= record.name.truncate(34) %> <br /> 
        Artist: <%= record.artist.truncate(34) %> <br /> 
        Release Date: <%= record.release_date.strftime("%m-%d-%Y") %> <br /> 
        Price: $<%= record.price %> </b>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <h2> No Records Found </h2>
<% end %>
