<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="logo">Fresh Records</a>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav navbar-nav navbar-right" id="release-tab">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "New Releases", root_path %></li>
          <li class="<%= 'active' if current_page?(coming_soon_path) %>"><%= link_to "Coming Soon", coming_soon_path %></li>
          <li class="<%= 'active' if current_page?(wish_list_path) %>"><%= link_to "Wish List", wish_list_path %></li>
          <% if user_signed_in? %>
            <li class="dropdown <%= 'active' if current_page?(artists_path) %>">
              <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-expanded="false"></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings</a></li>
                <li><%= link_to "Following", artists_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li></li>
              </ul>
            </li>
          <% else %>
            <li><%= button_to "Sign In", new_user_session_path, class: "btn btn-default navbar-btn", method: :get %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
